<!DOCTYPE html>
<html>
  <head>
  <title>AREU-COVID19-calculator</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>
    <div id="calc-container">
      <h1>AREU-COVID19-calculator</h1>
      <p>Please enter details to calculate the COVID-19 Probability:</p>
 
      <form action="{{ url_for('index') }}" method="POST">
        <label>Enter sex:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" value="m" id="male-option">
          <label class="form-check-label" for="male-option">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" value="f" id="female-option" checked>
          <label class="form-check-label" for="female-option">
            Female
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="sex" value="n" id="none-option" checked>
          <label class="form-check-label" for="none-option">
            None
          </label>
        </div>
        <br>
        <label>Enter age in years:</label>
        <input type="number" name="age">
        <br><br>
	<label>Enter hour (00-23):</label>
        <input type="number" name="hour">
        <br><br>
        <label>Enter DS Severity Level:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_sev_lev" value="b" id="bianco-option">
          <label class="form-check-label" for="bianco-option">
            Bianco
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_sev_lev" value="v" id="verde-option">
          <label class="form-check-label" for="verde-option">
            Verde
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_sev_lev" value="vg" id="verdegiallo-option">
          <label class="form-check-label" for="verdegiallo-option">
            Verde>Giallo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_sev_lev" value="g" id="giallo-option">
          <label class="form-check-label" for="giallo-option">
            Giallo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_sev_lev" value="r" id="rosso-option">
          <label class="form-check-label" for="rosso-option">
            Rosso
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_sev_lev" value="rp" id="rossop-option">
          <label class="form-check-label" for="rossop-option">
            Rosso+
          </label>
        </div>
	<br>
	<label>Enter DS Reason:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_reason" value="i" id="0-option">
          <label class="form-check-label" for="0-option">
            0
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_reason" value="r" id="1-option">
          <label class="form-check-label" for="1-option">
            1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="ds_reason" value="a" id="2-option">
          <label class="form-check-label" for="2-option">
           2
          </label>
        </div>
        </br><br>
        <input type="submit" name="next" value="Next">
     </form>
     <br>
     {% if covid_result %}
       <h2>Results</h2>
       <p>Calculated COVID-19 Probability: = {{covid_result}}.
       <br>
     {% endif %}
   </div>
 </body>
</html>
